@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  background-color: #eee;
}

.fw-700 {
  font-weight: 700;
}

md-toolbar {
  background-color: #4c9ef1 !important;
}

md-toolbar md-toolbar-filler {
  background-color: #e0e0e0;
}

md-toolbar md-toolbar-filler #fillerIcon {
  color: #4c9ef1;
}
